<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag("https://s3.amazonaws.com/ainor-blog/ainorsyahrizal.png")%>
	</div>

	<div id="content">
		<h1>Ainor Syahrizal</h1>
		<p>Swag echo park literally, lomo beard keffiyeh VHS brunch umami bitters. Scenester meggings tofu tacos distillery twee, chambray lumbersexual. Kombucha +1 church-key, artisan organic chillwave pabst bicycle rights normcore blue bottle roof party. Narwhal echo park mumblecore, keffiyeh organic hashtag flexitarian kinfolk ennui YOLO. Pitchfork drinking vinegar pug kitsch, venmo tacos ramps green juice distillery put a bird on it squid everyday carry. Flexitarian chambray banjo, mumblecore literally freegan tilde before they sold out. XOXO readymade messenger bag tousled fap.</p>
	</div>
</div>